<div class="container mt-5">
  <div class="row justify-content-center">

    <div class="col-md-8 col-lg-6">

      <div class="card shadow">

        <div class="card-header text-center">
          <h3>@if(isEdit){Editar} @else {Crear} estudiante</h3>
        </div>

        <div class="card-body">

          <form [formGroup]="studentForm" (ngSubmit)="handleSumbit()">

            <!-- Nombre -->
            <div class="mb-3">
              <label class="form-label">Nombre</label>

              <input
                type="text"
                class="form-control"
                formControlName="name"
              />

              @if (studentForm.get("name")?.touched &&
              studentForm.get("name")?.invalid) {

                <div class="text-danger mt-1">

                  @if (studentForm.get("name")?.errors?.["required"]) {
                    <small>El nombre es obligatorio</small>
                  }

                  @if (studentForm.get("name")?.errors?.["minlength"]) {
                    <small>El nombre debe tener al menos 3 caracteres</small>
                  }

                  @if (studentForm.get("name")?.errors?.["pattern"]) {
                    <small>El nombre solo puede contener letras</small>
                  }

                </div>
              }
            </div>

            <!-- Edad -->
            <div class="mb-3">
              <label class="form-label">Edad</label>

              <input
                type="number"
                class="form-control"
                formControlName="age"
              />
            </div>

            <!-- Semestre -->
            <div class="mb-3">
              <label class="form-label">Semestre</label>

              <input
                type="number"
                class="form-control"
                formControlName="semester"
              />
            </div>

            <!-- Correo -->
            <div class="mb-3">
              <label class="form-label">Correo</label>

              <input
                type="email"
                class="form-control"
                formControlName="correo"
              />
            </div>

            <!-- Promedio -->
            <div class="mb-3">
              <label class="form-label">Promedio</label>

              <input
                type="number"
                step="0.1"
                class="form-control"
                formControlName="promedio"
              />
            </div>

            <!-- Créditos -->
            <div class="mb-3">
              <label class="form-label">Créditos Cursados</label>

              <input
                type="number"
                class="form-control"
                formControlName="creditosCursados"
              />
            </div>

            <!-- Foto -->
            <div class="mb-4">
              <label class="form-label">URL de la foto</label>

              <input
                type="text"
                class="form-control"
                formControlName="photo"
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="!studentForm.valid">
              @if(isEdit){Editar} @else {Crear} estudiante
            </button>

          </form>

        </div>

      </div>

    </div>

  </div>
</div>